video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.search {
  width: 40%;
  padding: 10px;
  color: #000;
  background-color: transparent;
  margin-left: 30px;
  border: 1px solid black;
  font-size: 15px;
  }
  
  button {
    margin-top: 10px;
    border: none;
    background-color: #FCEB81;
    padding: 10px;
    border: 1px solid black;
    font-size: 15px;
    }
  .header {
    display: flex;
    justify-content: center;
    }
    h1 {
      font-size: 40px;
      margin-left: 50px;
    }
    p {
      margin-left: 50px;
    }
    .result {
      background-color: rgba(255, 255, 255, 0.5);
      width: 40%;
      margin-left: 40px;
    }
    .kcal {
      font-size: 20px;
      font-weight: bolder;
    }
    .par {
      display: flex;
      align-items: center;
    }
    
    .quantity-unit {
      margin-left: auto;
      display: flex;
    }
    
    .quantity-unit p {
      margin-left: 5px; 
      margin-right: 10px;
    }